:root {
    --body-bg: #effafa;
    --green: #5ca5a5;
    --light-green: rgba(92, 165, 165, 0.1);
    --blurry-green: #7c8f8f;
    --black: #2b3939;
    --white: #fff;
}

/* GLOBAL */
html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: var(--black);
    background-color: var(--white);
}

img {
    max-width: 100%;
    height: auto;
}

/* VISUALLY HIDDEN */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* CONTAINER */
.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* BADGE */
.badge {
    display: inline-block;
    padding: 6px 8px 4px;
    border-radius: 12px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: var(--white);
    line-height: 14px;
    letter-spacing: -0.08px;
    text-align: center;
}

.badge-green {
    background-color: var(--green);
    color: var(--white);
}

.badge-black {
    background-color: var(--black);
    color: var(--white);
}

/* TAG */
.tag {
    display: inline-block;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: var(--green);
    border-radius: 4px;
    background-color: var(--light-green);
    cursor: pointer;
    transition: background-color 0.1s ease,
        color 0.1s ease;
}

/* MAIN CONTENT */
.main-content {
    flex-grow: 1;
    padding-bottom: 120px;
    background-color: var(--body-bg);
    position: relative;
}

/* HEADER */
.header {
    width: 100%;
    min-height: 156px;
    background-color: var(--green);
}

.header-img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.search-panel-wrapper {
    position: relative;
    top: -55px;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
}

/* SEARCH PANEL */
.search-panel {
    width: 100%;
    max-width: 1110px;
    padding: 20px 40px;
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.search-tags {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-right: 26px;
    margin-bottom: -16px;
    margin-left: -16px;
    flex-wrap: wrap;
}

.search-tag {
    background-color: var(--light-green);
    display: flex;
    border-radius: 4px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.search-tag-title {
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    color: var(--green);
}

.search-tag-close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: var(--green);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-image: url(../img/close-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

.search-tag-close:hover {
    background-color: var(--black);
}

.search-clear {
    color: var(--green);
    cursor: pointer;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
}

.search-clear:hover {
    text-decoration: underline;
}

/* JOB LISTINGS LIST */
.job-listings {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* JOB LISTINGS ITEM */
.job-listings-item {
    max-width: 1110px;
    padding: 32px 40px 32px 35px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    box-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);
    border-left: 5px solid transparent;
    border-radius: 5px;
    background-color: var(--white);
}

.job-listings-item:not(:last-child) {
    margin-bottom: 24px;
}

.job-listings-item-featured {
    border-left-color: var(--green);
}

.job-listings-logo {
    flex-shrink: 0;
    width: 88px;
    height: 88px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 24px;
}

.job-listings-info {
    flex-grow: 1;
    margin-right: 24px;
}

.job-listings-company-badges {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.job-listings-company-name {
    font-size: 14px;
    font-weight: 700;
    color: var(--green);
    margin: 0;
    margin-right: 16px;
}

.job-listings-badges {
    display: flex;
    align-items: center;
}

.job-listings-badges-item:not(:last-child) {
    margin-right: 8px;
}

.job-listings-position {
    margin-top: 0;
    margin-bottom: 8px;
}

.job-listings-link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: var(--black);
    transition: color 0.1s ease;
    text-decoration: none;
    text-transform: capitalize;
}

.job-listings-link:hover {
    color: var(--green);
}

.job-listings-addl {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.job-listings-addl-item {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.12px;
    color: var(--blurry-green);
    white-space: nowrap;
}

.job-listings-addl-item:not(:last-child) {
    margin-right: 36px;
    position: relative;
}

.job-listings-addl-item:not(:last-child):after {
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 4px;
    height: 4px;
    content: '';
    background-color: var(--blurry-green);
}

.job-listings-tags {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.job-listings-tags-item {
    
}

.job-listings-tags-item {
    margin-top: 2px;
    margin-bottom: 2px;
}

.job-listings-tags-item:not(:last-child) {
    margin-right: 16px;
}

.job-listings-tags-item:hover {
    background-color: var(--green);
    color: var(--white);
}

@media only screen and (max-width: 750px) {
    .job-listings-item {
        flex-wrap: wrap;
    }

    .job-listings-info {
        margin-right: 0;
    }

    .job-listings-tags {
        width: 100%;
        margin-top: 16px;
    }
}

@media only screen and (max-width: 500px) {
    .job-listings-item {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 25px;
        padding-right: 30px;
    }

    .job-listings-logo {
        margin-right: 0;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .job-listings-company-badges {
        flex-wrap: wrap;
    }

    .job-listings-addl {
        flex-wrap: wrap;
    }
}